<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Web</title>
</head>
<body>
    <!--etiquetas de encabezado-->
    <h1>Primer heading</h1>
    <p>Parrafo</p>
    <a href="https://www.google.com">Ir a google</a>
    <!--etiquetas de imagenes-->
    <img src="/static/cat.jpg" alt="gato">
    <!--botones-->
    <button type="button">Enviar</button>
    <button type="reset">Enviar</button>
    <button type="submit">Enviar</button>
    <button type="button"><img src="/static/cat.jpg" alt="gato"></button>
    <!--listas ordenadas y desordenadas-->
    <ul>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
        <li>Elemento 3</li>
        <li>Elemento 4</li>
    </ul>

    <ul>
        <ol>Elemento 1</ol>
        <ol>Elemento 2</ol>
        <ol>Elemento 3</ol>
        <ol>Elemento 4</ol>
    </ul>

    <p>Texto mas largo <span style="color: blue;">mostrar</span></p> 
</body>
</html>